# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos gerados pelo compilador C/C++
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.a
*.dylib
*.pdb

# Arquivos de Debug
*.stackdump
*.dSYM/

# Pastas de Build (comuns em sistemas como Make ou CMake)
build/
bin/
/build/
/bin/

# Arquivos de Build Systems
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Arquivos de IDEs e Editores de Texto populares
.vscode/
.idea/
*.swp
*~